service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:tns="http://tempuri.org/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <!-- WSDL TYPES: definition of the data types that are used in the web service -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="OrderRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="OrderResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="served" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="dishes" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="OrdersRequest">
                <s:complexType>
                    <s:sequence>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="OrdersResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="served" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="dishes" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreateOrderRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="dish" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CreateOrderResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="id" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="served" type="s:boolean"/>
                        <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="dishes" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteOrderRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DeleteOrderResponse">
                <s:complexType>
                    <s:sequence>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <!-- MESSAGES: defines the data being exchanged between the service and client -->
    <wsdl:message name="OrderSoapIn">
        <wsdl:part name="parameters" element="tns:OrderRequest"/>
    </wsdl:message>
    <wsdl:message name="OrderSoapOut">
        <wsdl:part name="parameters" element="tns:OrderResponse"/>
    </wsdl:message>
    <wsdl:message name="OrdersSoapIn">
        <wsdl:part name="parameters" element="tns:OrdersRequest"/>
    </wsdl:message>
    <wsdl:message name="OrdersSoapOut">
        <wsdl:part name="parameters" element="tns:OrdersResponse"/>
    </wsdl:message>
    <wsdl:message name="CreateOrderSoapIn">
        <wsdl:part name="parameters" element="tns:CreateOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateOrderSoapOut">
        <wsdl:part name="parameters" element="tns:CreateOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="DeleteOrderSoapIn">
        <wsdl:part name="parameters" element="tns:DeleteOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="DeleteOrderSoapOut">
        <wsdl:part name="parameters" element="tns:DeleteOrderResponse"/>
    </wsdl:message>
    <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
    <wsdl:portType name="OrderSoapPort">
        <!-- The operation name must be the same as the one specified in the service object -->
        <wsdl:operation name="Order">
            <wsdl:input message="tns:OrderSoapIn"/>
            <wsdl:output message="tns:OrderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Orders">
            <wsdl:input message="tns:OrdersSoapIn"/>
            <wsdl:output message="tns:OrdersSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="CreateOrder">
            <wsdl:input message="tns:CreateOrderSoapIn"/>
            <wsdl:output message="tns:CreateOrderSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteOrder">
            <wsdl:input message="tns:DeleteOrderSoapIn"/>
            <wsdl:output message="tns:DeleteOrderSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
    <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderSoapPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Order">
            <soap:operation soapAction="Order" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Orders">
            <soap:operation soapAction="Orders" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateOrder">
            <soap:operation soapAction="CreateOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DeleteOrder">
            <soap:operation soapAction="DeleteOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!-- SERVICE:  -->
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServiceSoapPort" binding="tns:OrderServiceSoapBinding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>